:host {
  display: block;
}

.owb-form-container {
  position: relative;
  padding: var(--section-padding-top, 7rem) var(--section-padding-right, 2rem)
    var(--section-padding-bottom, 6rem) var(--section-padding-left, 2rem);
  margin: 0 auto;
}

.owb-form-container.is-normal-width {
  max-width: 960px;
}

.owb-form-container.is-full-width {
  max-width: 100%;
}

.owb-form {
  display: grid;
  gap: 12px;
}

.owb-form-success {
  margin: 10px 0 0;
  color: var(--website-success-color, #267e3e);
  font-weight: 600;
}
