:host {
  display: block;
}

[data-editor-block] {
  position: relative;
}

[data-editor-block]:hover::before,
[data-editor-block]:focus-within::before,
[data-editor-block].is-settings-open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid var(--editor-primary-color, #ccc);
  pointer-events: none;
}
