* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.website {
  font-size: 24px;
  font-family: var(--website-body-font-family);
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--website-text-color);
  background: var(--website-background-color);
  line-height: 1.2;
}

.website h1,
.website h2,
.website h3,
.website h4,
.website h5,
.website h6 {
  font-family: var(--website-title-font-family);
  margin: 0 0 1rem;
}
