:root {
  --website-primary-color: #007bff;
  --website-title-font-family: hwt-aetna-extra-condensed, serif;
  --website-body-font-family: "early-sans-variable", sans-serif;
  --website-background-color: #fff;
}
