:host {
  display: block;
}

.container {
  position: relative;
  padding: var(--section-padding-top, 7rem) var(--section-padding-right, 2rem)
    var(--section-padding-bottom, 6rem) var(--section-padding-left, 2rem);
  margin: 0 auto;
}

.container.is-normal-width {
  max-width: 960px;
}

.container.is-full-width {
  max-width: 100%;
}
