body {
  background: #f1f1f1;
  color: #222;
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

editor-menu {
  width: 280px;
}

website-editor {
  flex: 1;
}
