@import "tailwindcss";

@plugin "daisyui" {
	root: ":host";
    themes: mylight --default;
}
@plugin "daisyui/theme" {
  name: "mylight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #ffc700;
  --color-primary-content: oklch(27% 0.041 260.031);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}




