:root {
  --editor-primary-color: #ffc700;
  --editor-secondary-color: #000000;
  --editor-dark-color: #383838;
  --editor-light-color: #fbfbfb;
  --editor-white-color: #ffffff;
  --editor-black-color: #000000;
  --editor-text-color: #000000;
  --editor-text-color-light: #ffffff;
}
