.editor {
  background-color: var(--editor-white-color);
  max-height: calc(100vh - 2rem);
}

.editor-top-menu {
  border-bottom: var(--editor-default-border);
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-top-menu .left-menu {
  display: flex;
  align-items: center;
  gap: 36px;
}

.editor-top-menu .right-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.editor-top-menu .publish-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
}

.editor-top-menu .radio-button-container {
  padding: 0;
  margin: 0;
}

.editor-top-menu .page-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.editor-top-menu .page-info .page-info-main {
  display: flex;
  align-items: center;
  gap: 12px;
}

.editor-top-menu .page-info .page-tile {
  font-size: 16px;
  font-weight: bold;
  color: var(--editor-text-color);
}

.editor-top-menu .page-info .view-mode-switcher {
  width: 280px;
}

.editor-top-menu .page-info .page-path {
  font-size: 14px;
  color: var(--editor-text-color);
}

.website-container {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  background-color: var(--editor-background);
}

.website-viewport {
  width: 100%;
  margin: 0 auto;
  background-color: var(--editor-white-color);
}

.orientation-switcher {
  max-width: 280px;
  margin: 32px auto 0px;
}

.website-viewport.size-tablet,
.website-viewport.size-mobile {
  margin: 16px auto 64px;
  box-shadow: var(--editor-box-shadow);
  box-sizing: border-box;
  overflow-y: auto;
}

.website-viewport.size-tablet.orientation-horizontal {
  width: min(100%, 1180px);
  height: 820px;
}

.website-viewport.size-tablet.orientation-vertical {
  width: min(100%, 820px);
  height: 1180px;
}

.website-viewport.size-mobile.orientation-horizontal {
  width: min(100%, 844px);
  height: 440px;
}

.website-viewport.size-mobile.orientation-vertical {
  width: min(100%, 440px);
  height: 844px;
}

.website-preview-iframe {
  width: 100%;
  height: calc(100vh - 120px);
  border: none;
}
